@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <h1 class="text-center">Benvenuto</h1>
    </div>

    <div class="container-fluid">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://wallpapercave.com/wp/wp2154292.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://images6.alphacoders.com/133/1334374.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://png.pngtree.com/background/20230426/original/pngtree-wallpaper-train-steam-wallpapers-hd-picture-image_2486509.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</main>